{% extends 'base.html' %}
{% block title %}Удаление поста{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    <h1>Удалить пост</h1>
    <br/><br/><br/>
    <h3>Удалить: {{ post.title }}</h3>
    <br/>
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            <strong>Вы уверены?</strong><br/>
            <button class="btn btn-info">Удалить пост!</button>
        </form>
    </div>
{% else
Тебе запрещено удалять данный пост
{% endif %}
{% else %}
    Ты не вошел на сайт, чтобы что-то менять.
{% endif %}



{% endblock %}
