{% extends 'base.html' %}
{% block title %}Редактирование поста{% endblock %}
{% block content %}

{% if user.is_authenticated %}

{% if user.id == post.author.id %}
    <h1>Обновить пост</h1>
    <br/><br/><br/>
    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-info">Обновить</button>
        </form>
    </div>
{% else %}
    Ты не вошел на сайт, чтобы что-то менять.
{% endif %}
{% else %}


{% endif %}
{% endblock %}
